/* ===========================M E N U============================= */
/* * {
   border:1px solid red;  
} */

.parentMenuDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E05433;
}
.compTextDiv {
  display: flex;
}
.iconComp {
  width:36px;
  height:29px;
  margin:13px 14px;
}

.menuTitle {
  display: flex;
  align-items: center;
  height: 30px;
  width: 109px;
  margin: 13px 13px;
  font-size: 20px;
  color: white;
}

.loginParent {
  display: flex;
}


.arrowLoginDiv {
  display: flex;
  align-items: center;
}

.loginLink {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.5);
}

.registerIcon{
  margin-left: 10px;
}

.borderLeftDiv {
  text-align: center;
  width:154px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.mediaParentMenuDiv {
  display: none;
}

@media screen and (max-width: 600px) {

  .parentMenuDiv {
    display: none;
  }

  .mediaParentMenuDiv {
    display: flex;
    height: 56px;
    align-items: center;
    background: #E05433;
  }
  
  .iconFaBars {
    color: blanchedalmond;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 3px blanchedalmond;
  }

  .compTextDiv {
    margin-left: 10px;
  }

  .menuTitle {
    margin-left: 0px;
  }

  .register {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 200px;
    background-color: black;
    border-radius: 5px;
  }

  .loginLink {
    font-size: 20px;
    margin:10px 10px;
    background-color: yellow;
    color:black;
    padding:3px;
    border-radius: 3px;
  }


 .secondRegister {
   display:none;
 }

}

/* ===================================H O M E==================================== */

  .parentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 880px;
    background-size: 100% 100%;
    background-image: url('./Image/showcase 1.png');
    background-repeat: no-repeat;
    background-position: center;
} 

.overImageText1 {
  width: 538px;
  height: 68px;
  font-size: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin-top: 324px;
}

.overImageText2 {
  width: 414px;
  height: 30px;
  color:#FFFFFF;
  margin-top: 11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
}

.parentSearchOverImage {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.inputOverImage {
  width: 540px;
  height: 38px;
  left: 405px;
  top: 505px;
  color: rgba(33, 37, 41, 0.65);
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 0px;
  padding-left:12px;
  padding: 7px 7px;

}

.inputOverImage:nth-child(2) {
  margin-left: 29px;
}

.buttonOverImage {
  width: 1110px;
  height: 38px;
  background: #E05433;
  color:#FFFFFF;
  font-size: 15px;
  border: 1px solid #E05433;
  box-sizing: border-box;
  margin-top: 16px;
}

@media  screen and (max-width: 1200px) {

  .inputOverImage {
    max-width: 300px;
  }

  .buttonOverImage {
    max-width: 629px;
  }
}

@media screen and (max-width: 776px) {

  .overImageText1 {
    width: 400px;;
    font-size: 40px;
  }

  .inputOverImage {
    max-width: 250px;
  }

  .buttonOverImage {
    max-width: 529px;
  }
}

/* ======================================= Login Page ================================*/

.parentLoginPage {
  display: flex;
  justify-content: center;
}

.parentLogin {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 292px;
  width:540px;
  height:484px;
  border: 1px solid #00000020;

}

.title {
  display: flex;
  margin-top: 42px;
  align-items: center;
  color: black;
}

.loginTitleIcon1 {
  margin-left: 48.13px;
}

.loginTitleIcon2 {
  margin-left: -12px;
}

.title span {
  margin-left: 12.13px;
  /* margin-top: 42px; */
  font-size: 40px;
  color: #212529;
}

.exposition {
  margin-top: 12px;
  margin-left: 45px;
  max-width: 393px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  color:#212529;

}

.textEmailAddress {
  height: 24px;
  margin-top: 15px;
  margin-left: 45px;
  font-size: 15px;
  line-height: 24px;
  color: #212529;
}

.emailInput {
  margin-top: 8px;
  margin-left: 45px;
}

.emailInput input {
  width: 450px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  padding: 7px 7px;
  padding-left: 15px;
  color: rgba(33, 37, 41, 0.56);
}

.textPassword {
  height: 24px;
  margin-left: 45px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
}

.passwordInput {
  margin-top: 8px;
  margin-left: 45px;
}

.passwordInput input {
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  width: 450px;
  height: 38px;
}

.buttonLoginPage {
  margin-top: 24px;
  margin-left: 45px;
}

.buttonLoginPage button {
  width: 450px;
  height: 38px;
  background: #E05433;
  border: 1px solid #E05433;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.forgotPassword {
  margin-left: 45px;
  margin-top: 16px;
}

.forgotPassword span {
 color: #212529;
}

.forgotPasswordLink {
  color: #E05433;
  text-decoration-line: none;
}

@media screen and (max-width:776px){
  .parentLogin {
    width: 70%;
  }
  .title span {
    font-size: 30px;
  }

  .emailInput {
    width: 70%;
  }

  .emailInput input {
    width: 100%;
  }

  .passwordInput input {
    width: 70%;
  }
  
  .buttonLoginPage {
    width: 70%;
  }

  .buttonLoginPage button {
    width: 100%;
  }

}

/* =============================== REGISTER PAGE ==================================== */


.parentRegisterPage {
  display: flex;
  justify-content: center;
}

.parentRegister {
  width: 540px;
  margin-bottom: 20px;
  margin-top: 48px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.titleRegister {
  margin-top: 42px;
}

.titleRegister span {
  margin-left: 15.31px;
  font-size: 40px;
  line-height: 48px;
  color: #212529;
}

.iconRegister {
  margin-left: 50.35px;
}

.checkboxRegister {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 45px;
  width: 450px;
  /* height: 122px; */
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
}

.checkboxRegister>span {
  margin-left: 21px;
  margin-top: 19px;
  color: #212529;
  font-size: 20px;
  line-height: 24px;
  font-family: Roboto;
}

.parentCheckbox {
  margin-left: 21px;
  margin-top: 19px;
}

.parentCheckbox span {
  margin-left: 7px;
  font-family: Roboto;
}

.parentCheckbox2 {
  margin-top: 4px;
  margin-left: 21px;
  margin-bottom: 21px;
}

.parentCheckbox2 span {
  font-family: Roboto;
  margin-left: 7px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color:rgb(10, 188, 233);
}

.botomTextRegisterPage {
  width: 411px;
  /* height: 48px; */
  margin-left: 45px;
  margin-top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #DC3545;
  /* border: 1px solid red; */

}

.registerButton button {
  margin-bottom: 45px;
  outline: none;
  margin-left: 45px;
  margin-top: 15px;
  width: 450px;
  height: 38px;
  background: #E05433;
  border: 1px solid #E05433;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width:776px) {
  .parentRegister {
    width: 70%;
  }

  .titleRegister span {
    font-size: 30px;
  } 

  .checkboxRegister {
    width:70%;
  } 
  
  .botomTextRegisterPage {
    width: 70%;
  } 

  .registerButton button {
    width: 70%;
  } 
}

/*==========================================RESET PASSWORD=============================  */

.resetPasswordPage {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.resetPassword {
  display: flex;
  flex-direction: column;
  width: 730px;
  /* height: 318px; */
  margin-top: 48px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
}

.childReset {
  font-size: 15px;
  /* line-height: 24px; */
  font-family: Roboto;
  color:#212529;
}

.childResetPassword1{ 
  margin-top: 29px;
  margin-left: 45px;
}

.linkReset {
  text-decoration-line: none;
  font-size: 15px;
  line-height: 24px;
  color: #E05433;
}

.childResetPassword2 {
  margin-left: 45px;
  margin-top:21px;
  font-size: 38px;
  line-height: 48px;
  font-family: Roboto;
}

.childResetPassword3 {
  margin-left: 45px;
  margin-top:11px;
}

.childResetPassword4 {
  margin-left: 45px;
  margin-top:16px;
}

.inputResetPassword {
  /* margin-top: 8px; */
  margin-left: 45px;
  width: 640px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  outline: none;
  padding-left: 13px;
  padding: 7px 7px;
}

.buttonResetPassword {
  margin-left: 45px;
  margin-top: 16px;
  margin-bottom: 45px;
  width: 640px;
  height: 38px; 
  background: #343A40;
  border: 1px solid #343A40;
  box-sizing: border-box;
  outline: none;
  color: #FFFFFF;
}

@media  screen and (max-width:776px) {

  .resetPassword {
    width:70%;
    border:1px solid red;
  }

  .childResetPassword2 {
    font-size: 30px;
  }

  .childResetPassword3 {
    margin-right: 10px;
  }

  .inputResetPassword {
    width: 70%;
  }

  .buttonResetPassword {
    width: 70%;
  }
}

/* =================================== UPDATE PASSWORD ================================== */

.updatePasswordPage {
  display: flex;
  justify-content: center;
}

.updatePassword {
  display: flex;
  flex-direction: column;
  width: 730px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  margin-top: 48px;
}

.titleUpdate {
  margin-left: 45px;
  margin-top: 26px;
  font-size: 40px;
  font-family: Roboto;
  color: #212529;
  
}

.updateP {
  margin-left: 45px;
  margin-top: 16px;
  font-family: Roboto;
  font-size: 15px;
  color: #212529;
}

@media  screen and (max-width:776px) {
  .updatePassword {
    width: 70%;
  }

  .titleUpdate {
    font-size: 30px;
  } 

}