/* ===========================M E N U============================= */

.parentMenuDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E05433;
}
.compTextDiv {
  display: flex;
}
.iconComp {
  width:36px;
  height:29px;
  margin:13px 14px;
  /* margin-left: 385px; */
}

.menuTitle {
  display: flex;
  align-items: center;
  height: 30px;
  width: 109px;
  margin: 13px 13px;
  font-size: 20px;
  color: white;
}

.loginParent {
  display: flex;
}


.arrowLoginDiv {
  display: flex;
  align-items: center;
}

.loginLink {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.5);
}

.registerIcon{
  margin-left: 10px;
}

.borderLeftDiv {
  text-align: center;
  width:154px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.mediaParentMenuDiv {
  display: none;
}

@media screen and (max-width: 600px) {

  .parentMenuDiv {
    display: none;
  }

  .mediaParentMenuDiv {
    display: flex;
    height: 56px;
    align-items: center;
    background: #E05433;
  }
  
  .iconFaBars {
    color: blanchedalmond;
    margin-left: 10px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 3px blanchedalmond;
  }

  .compTextDiv {
    margin-left: 10px;
  }

  .menuTitle {
    margin-left: 0px;
  }

  .register {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 200px;
    background-color: black;
    border-radius: 5px;
  }

  .loginLink {
    font-size: 20px;
    margin:10px 10px;
    background-color: yellow;
    color:black;
    padding:3px;
    border-radius: 3px;
  }


 .secondRegister {
   display:none;
 }

}

/* ===================================H O M E==================================== */

  .parentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 880px;
    background-size: 100% 100%;
    background-image: url('./Image/showcase 1.png');
    background-repeat: no-repeat;
    background-position: center;
} 

.overImageText1 {
  width: 538px;
  height: 68px;
  font-size: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin-top: 324px;
  border: 1px solid red;
}

.overImageText2 {
  width: 414px;
  height: 30px;
  color:#FFFFFF;
  margin-top: 11px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
}



