/* ===========================M E N U============================= */

.parentMenuDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E05433;
}
.compTextDiv {
  display: flex;
}
.iconComp {
  width:36px;
  height:29px;
  margin:13px 14px;
  /* margin-left: 385px; */
}

.menuTitle {
  display: flex;
  align-items: center;
  height: 30px;
  width: 109px;
  margin: 13px 13px;
  font-size: 20px;
  color: white;
}

.loginParent {
  display: flex;
}


.arrowLoginDiv {
  display: flex;
  align-items: center;
}

.loginLink {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.5);
}

.registerIcon{
  margin-left: 10px;
}

.borderLeftDiv {
  text-align: center;
  width:154px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

/* ===================================H O M E==================================== */

/* .parentHome {
  width: 100%;
  height: 100%;
  background-size: auto auto;
  margin-top: 100px; 
  background-image: url('./Image/showcase\ 1.png');
  background-repeat: no-repeat;
  background-position: center;


} */